@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
@import url(https://fonts.googleapis.com/css?family=Overpass:300,400,800);
@import url(https://static.redhat.com/libs/redhat/redhat-font/2/webfonts/red-hat-font.css);
h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.band--layout {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative; }
  .band--layout[data-background="gray"] {
    background-color: #f0f0f0; }
  .band--layout[data-collapse="top"] {
    padding-top: 30px; }
  .band--layout[data-collapse="bottom"] {
    padding-bottom: 30px; }
  .band--layout[data-collapse="both"] {
    padding-top: 10px;
    padding-bottom: 10px; }

.band-container {
  padding: 0 9px;
  margin-right: auto;
  margin-left: auto; }
  .band-container[data-align="left"] {
    text-align: left; }
  .band-container[data-align="center"] {
    text-align: center; }
  .band-container[data-align="right"] {
    text-align: right; }
  @media screen and (min-width: 768px) {
    .band-container {
      width: 750px;
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .band-container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .band-container {
      width: 1170px; } }

.band-container[data-layout="stack"] > *:not(:last-child) {
  display: block;
  padding-bottom: 30px; }

.band-container[data-layout="3-up"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 15px; }
  .band-container[data-layout="3-up"] > * {
    display: grid; }

.band-container[data-layout="2-up"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  grid-gap: 30px; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.hero-heading {
  color: #252527;
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.18; }
  .hero-heading:not(:last-child) {
    padding-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .hero-heading {
      font-size: 36px; } }
  @media screen and (min-width: 1200px) {
    .hero-heading {
      font-size: 38px; } }

.hero-copy {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.44;
  margin: auto;
  max-width: 75%; }
  .hero-copy:not(:last-child) {
    padding-bottom: 15px; }
  .hero-copy a {
    color: #73bcf7;
    text-decoration: none; }
    .hero-copy a:active, .hero-copy a:hover {
      color: #2b9af3; }

.hero--component {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative; }
  .hero--component[data-background="gray"] {
    background-color: #f0f0f0; }
  .hero--component[data-collapse="top"] {
    padding-top: 30px; }
  .hero--component[data-collapse="bottom"] {
    padding-bottom: 30px; }
  .hero--component[data-collapse="both"] {
    padding-top: 10px;
    padding-bottom: 10px; }

.hero-container {
  padding: 0 9px;
  margin-right: auto;
  margin-left: auto; }
  .hero-container[data-align="left"] {
    text-align: left; }
  .hero-container[data-align="center"] {
    text-align: center; }
  .hero-container[data-align="right"] {
    text-align: right; }
  @media screen and (min-width: 768px) {
    .hero-container {
      width: 750px;
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .hero-container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .hero-container {
      width: 1170px; } }

.hero--component {
  align-items: center;
  background-color: #f0f0f0;
  background-image: url(428642ddd08c4df6f52739e0bc6bba11.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 40vh;
  justify-content: center; }

/* .band {
  &--layout {
    @extend %default--band;
    &[data-background="gray"] {
      background-color: $gallery;
    }
  }
  &-container {
    @extend %default-container;
    &[data-layout="stack"] {
      &:not(:last-child) {
        padding-bottom: 15px;
      }
    }
    &[data-layout="3-up"] {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 15px;
      > * {
        display: grid;
      }
    }
    &[data-layout="2-up"] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 15px;
      > * {
        display: grid;
      }
    }
  }
} */

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.band-header-title {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.18;
  text-transform: uppercase; }

.band-header-heading {
  color: #252527;
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: none; }
  @media screen and (min-width: 992px) {
    .band-header-heading {
      font-size: 36px; } }
  @media screen and (min-width: 1200px) {
    .band-header-heading {
      font-size: 38px; } }

.band-header-summary {
  color: #646464;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.44; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.card-body-headline {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18; }
  .card-body-headline a {
    color: #252527;
    text-decoration: none; }
    .card-body-headline a:active, .card-body-headline a:hover {
      color: #004080; }

.card-body-copy {
  color: #646464;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.44; }

.card-footer-link {
  color: #646464;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  text-decoration: none; }
  .card-footer-link:active, .card-footer-link:hover {
    color: #004080; }
  .card-footer-link:focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    text-decoration: none !important;
    outline-color: #06c; }

.card-footer-icon {
  vertical-align: baseline; }

.card--component {
  border-top: 5px solid #c00;
  display: flex;
  flex-flow: column nowrap;
  padding: 30px; }
  .card--component[data-background="white"] {
    background-color: #fff; }
  .card--component > *:not(:last-child) {
    padding-bottom: 30px; }
  .card--component [data-align="left"] {
    text-align: left; }
  .card--component [data-align="center"] {
    text-align: center; }
  .card--component [data-align="right"] {
    text-align: right; }

.card-header {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap; }
  .card-header-img {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 80%;
    max-height: 50px; }

.card-body {
  flex-grow: 1; }
  .card-body > *:not(:last-child) {
    padding-bottom: 10px; }

.card-footer {
  padding: 0 20px; }
  .card-footer[data-layout="3-up"] {
    display: grid;
    grid-template-columns: repeat(3, 36.156%);
    grid-auto-rows: 1fr; }
    .card-footer[data-layout="3-up"] > * {
      padding: 0 10px; }
  .card-footer[data-layout="2-up"] {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr; }
    .card-footer[data-layout="2-up"] > * {
      padding: 0 10px; }
  [data-layout="3-up"] .card-footer-content:last-child {
    border-left: 2px solid #d2d3d5; }
  [data-layout="3-up"] .card-footer-content:nth-child(2) {
    border-left: 2px solid #d2d3d5; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.group-heading {
  color: #252527;
  font-family: "RedHatDisplay", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18; }

.group-copy {
  color: #646464;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.44; }
  .group-copy a {
    color: #06c; }
    .group-copy a:active, .group-copy a:hover {
      color: #004080; }
    .group-copy a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      text-decoration: none !important;
      outline-color: #06c; }

.group-cta-anchor {
  color: #06c;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 16px;
  text-decoration: none; }
  .group-cta-anchor::after {
    content: ">";
    font-size: .7em;
    padding-left: 5px;
    vertical-align: baseline; }
  .group-cta-anchor:active, .group-cta-anchor:hover {
    color: #004080; }
  .group-cta-anchor:focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    text-decoration: none !important;
    outline-color: #06c; }

.group-container > *:not(:last-child) {
  padding-bottom: 15px; }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.table-no-results {
  color: #646464;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.44; }
  .table-no-results a {
    color: #06c; }
    .table-no-results a:active, .table-no-results a:hover {
      color: #004080; }
    .table-no-results a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      text-decoration: none !important;
      outline-color: #06c; }

.table-main th {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  text-align: left; }
  .table-main th a {
    color: #06c; }
    .table-main th a:active, .table-main th a:hover {
      color: #004080; }
    .table-main th a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      text-decoration: none !important;
      outline-color: #06c; }

.table-main td {
  color: #424242;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.44;
  text-align: left; }
  .table-main td a {
    color: #424242; }
    .table-main td a:active, .table-main td a:hover {
      color: #004080; }
    .table-main td a:focus {
      outline-offset: 1px;
      outline-style: dotted;
      outline-width: 1px;
      text-decoration: none !important;
      outline-color: #06c; }

.table-no-results a {
  color: #06c;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 16px;
  text-decoration: none; }
  .table-no-results a::after {
    content: ">";
    font-size: .7em;
    padding-left: 5px;
    vertical-align: baseline; }
  .table-no-results a:active, .table-no-results a:hover {
    color: #004080; }
  .table-no-results a:focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    text-decoration: none !important;
    outline-color: #06c; }

.table-dropdown-label {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.18; }

.table--component > *:not(:last-child) {
  padding-bottom: 30px; }

.table-filters {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  @media screen and (min-width: 768px) {
    .table-filters {
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 8fr 4fr; } }

.table-search {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0;
  grid-template-columns: 7fr 1fr; }
  .table-search-input {
    font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
    border-radius: 0;
    padding: 5px; }
  .table-search-button {
    display: block;
    font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    line-height: 1.44;
    padding: 8px 40px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    background-color: #c00;
    border-color: #c00;
    color: #fff;
    cursor: pointer;
    transition: background .3s ease-in; }
    .table-search-button:hover {
      text-decoration: none;
      background-color: #ad0000;
      color: #fff; }
    @media all and (max-width: 991px) {
      .table-search-button {
        padding-left: 20px;
        padding-right: 20px; } }

.table-dropdown {
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  align-items: center;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  position: relative; }
  .table-dropdown-select {
    background-color: #fff;
    color: #646464;
    height: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 5px 30px 5px 10px; }
    .table-dropdown-select + i {
      color: #646464;
      position: absolute;
      top: calc(50% - .55em);
      right: 10px; }
    .table-dropdown-select:hover {
      cursor: pointer; }

.table-main {
  border-collapse: collapse;
  width: 100%; }
  @media all and (max-width: 991px) {
    .table-main {
      table-layout: fixed; } }
  @media screen and (max-width: 767px) {
    .table-main thead {
      display: none; } }
  .table-main thead tr {
    background-color: #d2d3d5; }
  .table-main th {
    padding: 10px; }
  .table-main tbody tr:nth-child(even) {
    background-color: #e2e2e2; }
  .table-main tbody tr:nth-child(odd) {
    background-color: #fff; }
  .table-main td {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media screen and (max-width: 767px) {
      .table-main td {
        display: block; } }
    @media screen and (max-width: 767px) {
      .table-main td:first-child {
        font-weight: 600; } }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.navigation-label {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  /* &:not(:only-child) {
        border-right: 3px solid $fog;
        margin-right: 5px;
        padding-right: 20px;
    } */ }
  @media screen and (min-width: 992px) {
    .navigation-label {
      font-size: 30px; } }
  @media screen and (min-width: 1200px) {
    .navigation-label {
      font-size: 34px; } }

.navigation-link-anchor {
  color: #252527;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.18;
  position: relative;
  text-decoration: none; }
  .navigation-link-anchor:hover::after, .navigation-link-anchor:active::after {
    background: #c00;
    bottom: -8px;
    content: " ";
    height: 4px;
    left: 0;
    position: absolute;
    width: 30px; }
  .navigation-link-anchor:focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    text-decoration: none !important;
    outline-color: #06c; }

.navigation-link-icon {
  color: #646464;
  font-size: .7em;
  vertical-align: text-top; }

.navigation-logo:focus {
  outline-offset: 1px;
  outline-style: dotted;
  outline-width: 1px;
  text-decoration: none !important;
  outline-color: #06c; }

.navigation--component {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative; }
  .navigation--component[data-background="gray"] {
    background-color: #f0f0f0; }
  .navigation--component[data-collapse="top"] {
    padding-top: 30px; }
  .navigation--component[data-collapse="bottom"] {
    padding-bottom: 30px; }
  .navigation--component[data-collapse="both"] {
    padding-top: 10px;
    padding-bottom: 10px; }

.navigation-container {
  padding: 0 9px;
  margin-right: auto;
  margin-left: auto; }
  .navigation-container[data-align="left"] {
    text-align: left; }
  .navigation-container[data-align="center"] {
    text-align: center; }
  .navigation-container[data-align="right"] {
    text-align: right; }
  @media screen and (min-width: 768px) {
    .navigation-container {
      width: 750px;
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .navigation-container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .navigation-container {
      width: 1170px; } }

.navigation--component [data-visibility="hidden"] {
  position: absolute !important;
  left: -1000px;
  clip: rect(1px, 1px, 1px, 1px); }

.navigation-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; }

.navigation-group:first-child {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px; }

.navigation-links {
  flex-grow: 1; }

.navigation-link {
  display: inline-block;
  padding: 10px 15px; }

.navigation-logo {
  max-height: 2em; }
  @media screen and (min-width: 1200px) {
    .navigation-logo {
      max-height: 3em; } }

h1, h2, h3, h4 {
  margin: 0; }

p {
  margin: 0; }
  p:not(:last-child) {
    margin-bottom: 10px; }

/*doc
---
title: Colors

Name that color tool: http://chir.ag/projects/name-that-color/#F0F0F0
Use this tool to determine the name of your new color.
*/
/*doc
---
title: Breakpoints

*/
.footer-copyright {
  color: #8a8a8a;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.18; }

.footer-link-anchor {
  color: #8a8a8a;
  font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.18; }
  .footer-link-anchor:active, .footer-link-anchor:hover {
    color: #fff; }
  .footer-link-anchor:focus {
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    text-decoration: none !important;
    outline-color: #06c; }

.footer-logo img:focus {
  outline-offset: 1px;
  outline-style: dotted;
  outline-width: 1px;
  text-decoration: none !important;
  outline-color: #06c; }

.footer--component {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative; }
  .footer--component[data-background="gray"] {
    background-color: #f0f0f0; }
  .footer--component[data-collapse="top"] {
    padding-top: 30px; }
  .footer--component[data-collapse="bottom"] {
    padding-bottom: 30px; }
  .footer--component[data-collapse="both"] {
    padding-top: 10px;
    padding-bottom: 10px; }

.footer-container {
  padding: 0 9px;
  margin-right: auto;
  margin-left: auto; }
  .footer-container[data-align="left"] {
    text-align: left; }
  .footer-container[data-align="center"] {
    text-align: center; }
  .footer-container[data-align="right"] {
    text-align: right; }
  @media screen and (min-width: 768px) {
    .footer-container {
      width: 750px;
      padding: 0; } }
  @media screen and (min-width: 992px) {
    .footer-container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .footer-container {
      width: 1170px; } }

.footer--component {
  background-color: #1a1a1a; }

.footer-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px; }
  @media screen and (min-width: 768px) {
    .footer-container {
      align-items: center;
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 1fr 3fr 5fr 1fr; } }

.footer-logo img {
  height: 34px; }
  @media screen and (min-width: 768px) {
    .footer-logo img {
      height: 44px;
      min-width: 138px; } }

@media screen and (max-width: 767px) {
  .footer-logo:last-child {
    display: flex;
    justify-content: flex-end; } }

.footer-logo:last-child img {
  height: 35px;
  min-width: 74px; }

.footer-copyright {
  margin-bottom: 0; }

.footer-links > *:not(:last-child) {
  border-right: 1px solid #646464; }

.footer-link {
  padding: 0 5px; }

