@use "../../public/styles/global";

.band {

  &--layout {
    @extend %default--band;
  }

  &-container {
    @extend %default-container;

    &[data-layout="stack"] {
      > *:not(:last-child) {
        display: block;
        padding-bottom: 30px;
      }
    }

    &[data-layout="3-up"] {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
      grid-auto-rows: 1fr;
      grid-gap: 15px;
      > * {
        display: grid;
      }
    }

    &[data-layout="2-up"] {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
      grid-gap: 30px;
    }
  }
}

.scroll{
  
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 5;
  place-items: center;
  border-radius: 50%; 
  cursor: pointer;
 
}