<main ng-controller="mainCtrl as ctrl">
    <hero hero="ctrl.heroDetail"></hero>
    <section class="band--layout" data-background="gray" data-collapse="bottom">
      <div class="band-container" data-layout="3-up">
        <card ng-repeat="feature in ctrl.featured" feature="feature"></card>
      </div>
    </section>
    <section class="band--layout" id="projects" data-background="gray" data-collapse="top">
      <div class="band-container" data-layout="stack">
        <bandheader heading="'All projects'"></bandheader>
        <dynamictable></dynamictable>
      </div>
    </section>
    <section class="band--layout" id="contribute">
      <div class="band-container" data-layout="2-up">
        <group ng-repeat="item in ctrl.content" item="item"></group>
      </div>
    </section>
</main>
