@use "sass:math";
@use "../variables/base";
@use "../variables/colors";
@use "../variables/breakpoints";

%default--band {
    padding-bottom: base.$band-padding;
    padding-top: base.$band-padding;
    position: relative;

    &[data-background="gray"] {
        background-color: colors.$gallery;
    }

    &[data-collapse="top"] {
        padding-top: base.$band-padding * 0.5;
    }

    &[data-collapse="bottom"] {
        padding-bottom: base.$band-padding * 0.5;
    }

    &[data-collapse="both"] {
        padding-top: math.div(base.$band-padding, 6);
        padding-bottom: math.div(base.$band-padding, 6);
    }
}

%default-container {
    padding: 0 base.$mobile-edge;
    margin-right: auto;
    margin-left: auto;

    &[data-align="left"] {
        text-align: left;
    }

    &[data-align="center"] {
        text-align: center;
    }

    &[data-align="right"] {
        text-align: right;
    }

    @media screen and (min-width: breakpoints.$breakpoint-sm-min) {
        width: 750px;
        padding: 0;
    }

    @media screen and (min-width: breakpoints.$breakpoint-md-min) {
        width: 970px;
    }

    @media screen and (min-width: breakpoints.$breakpoint-lg-min) {
        width: 1170px;
    }
}

%default--card {
    border-top: 5px solid colors.$red;
    display: flex;
    flex-flow: column nowrap;
    padding: base.$box-padding;

    &[data-background="white"] {
        background-color: colors.$white;
    }
    > *:not(:last-child) {
        padding-bottom: 30px;
    }
    [data-align="left"] {
        text-align: left;
    }
    [data-align="center"] {
        text-align: center;
    }
    [data-align="right"] {
        text-align: right;
    }
}
