%nav-label {
    color: $black;
    font-family: $base-font-family;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.18;
    text-transform: uppercase;

    /* &:not(:only-child) {
        border-right: 3px solid $fog;
        margin-right: 5px;
        padding-right: 20px;
    } */
}

%hero-heading {
    color: $black;
    font-family: $base-font-family;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.18;

    &:not(:last-child) {
        padding-bottom: 20px;
    }

    @media screen and (min-width: $breakpoint-md-min) {
        font-size: 36px;
    }

    @media screen and (min-width: $breakpoint-lg-min) {
        font-size: 38px;
    }
}

%hero-copy {
    color: $black;
    font-family: $base-font-family;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.44;
    margin: auto;
    max-width: 75%;

    &:not(:last-child) {
        padding-bottom: 15px;
    }

    a {
        color: $midnight-blue;
        text-decoration: none;

        &:active,
        &:hover {
            color: $unc-blue;
        }
    }
}

%band-title {
    color: $black;
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.18;
    text-transform: uppercase;
}

%band-heading {
    color: $black;
    font-family: $base-font-family;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.1;
    text-transform: none;

    @media screen and (min-width: $breakpoint-md-min) {
        font-size: 36px;
    }

    @media screen and (min-width: $breakpoint-lg-min) {
        font-size: 38px;
    }
}

%band-summary {
    color: $stone;
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.44;
}

%card-heading {
    color: $black;
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.18;
    a {
        color: $black;
        text-decoration: none;
        &:active,
        &:hover {
          color: $steel-blue;
        }
    }
}

%card-copy {
    color: $stone;
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.44;
}

%group-heading {
    color: $black;
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.18;
}

%group-copy {
    color: $stone;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.44;
    a {
      color: $denim-blue;

      &:active,
      &:hover {
          color: $steel-blue;
      }

      &:focus {
        @include accessibility-focus();
      }
    }
}

%table-head {
    color: $black;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    text-align: left;
    a {
      color: $denim-blue;

      &:active,
      &:hover {
          color: $steel-blue;
      }

      &:focus {
        @include accessibility-focus();
      }
    }
}

%table-row {
    color: $coal;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.44;
    text-align: left;
    a {
      color: $coal;

      &:active,
      &:hover {
          color: $steel-blue;
      }

      &:focus {
        @include accessibility-focus();
      }
    }
}

%link {
    color: $denim-blue;
    font-family: $base-font-family;
    text-decoration: none;

    &:active,
    &:hover {
        color: $steel-blue;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%subtle-link {
    color: $stone;
    font-family: $base-font-family;
    text-decoration: none;

    &:active,
    &:hover {
        color: $steel-blue;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%link-underline {
    color: $denim-blue;
    font-family: $base-font-family;

    &:active,
    &:hover {
        color: $steel-blue;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%secondary-link {
    color: $denim-blue;
    font-family: $base-font-family;
    font-size: 16px;
    text-decoration: none;

    &::after {
        content: ">";
        font-size: .7em;
        padding-left: 5px;
        vertical-align: baseline;
    }

    &:active,
    &:hover {
        color: $steel-blue;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%link-icon {
    vertical-align: baseline;
}

%nav-link {
    color: $black;
    font-family: $base-font-family;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.18;
    position: relative;
    text-decoration: none;

    &:hover::after,
    &:active::after {
        background: $red;
        bottom: -8px;
        content: " ";
        height: 4px;
        left: 0;
        position: absolute;
        width: 30px;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%nav-icon {
    color: $stone;
    font-size: .7em;
    vertical-align: text-top;
}

%dropdown-label {
    color: $black;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.18;
}

%footer-text {
    color: $fog;
    font-family: $base-font-family;
    font-size: 14px;
    line-height: 1.18;
}

%footer-link {
    color: $fog;
    font-family: $base-font-family;
    font-size: 14px;
    line-height: 1.18;

    &:active,
    &:hover {
        color: $white;
    }

    &:focus {
        @include accessibility-focus();
    }
}

%logo-link {
    &:active,
    &:hover {
        //filter: drop-shadow(0 2px 3px $gallery);
    }

    &:focus {
        @include accessibility-focus();
    }
}

%logo-link-dark {
    &:active,
    &:hover {
        //filter: drop-shadow(0 2px 3px darken($black, 10%));
    }

    &:focus {
        @include accessibility-focus();
    }
}
