@use "../../public/styles/global";
@use "../../public/styles/variables/colors";

.hero {
    &--component {
        @extend %default--band;
        align-items: center;
        background-color: colors.$gallery;
        background-image: url("../../public/img/hero.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        min-height: 25vh;
        justify-content: center;
    }

    &-container {
        @extend %default-container;
    }

    &-heading {
        @extend %hero-heading;
    }

    &-copy {
        @extend %hero-copy;
    }
}
