@import "../../public/styles/global";

.footer {
  &--component {
    @extend %default--band;
    background-color: $rich-black;
  }
  &-container {
    @extend %default-container;
    align-items: center;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 30px;
    grid-template-columns: 1fr 3fr 5fr 1fr;
  }
  &-logo {
    @extend %logo-link;
    height: 45px;
  }
  &-copyright {
    @extend %footer-text;
  }
  &-links {
    > *:not(:last-child) {
      border-right: 1px solid $stone;
    }
  }
  &-link {
    padding: 0 5px;
    &-anchor {
      @extend %footer-link;
    }
  }
}
