<footer class="footer--component" xmlns:dc="http://purl.org/dc/elements/1.1/" data-collapse="both">
  <div class="footer-container">
    <a class="footer-logo" href="https://www.redhat.com"><img src="{{ logo }}" /></a>
    <p class="footer-copyright" property="dc:rights">Copyright &copy;<span property="dc:dateCopyrighted">{{ copyright_years }}</span> <span property="dc:publisher">Red Hat, Inc.</span></p>
    <div class="footer-links">
      <span class="footer-link" ng-repeat="link in links">
        <a class="footer-link-anchor"
          href="{{ link.href }}"
          title="{{ link.title }}">
          {{ link.text }}
        </a>
      </span>
    </div>
    <a class="footer-logo" href="https://www.redhat.com/summit"><img src="{{ summit }}" /></a>
  </div>
</footer>
