@use "../../public/styles/global";
@use "../../public/styles/variables/breakpoints";
@use "../../public/styles/variables/colors";

.footer {
  &--component {
    @extend %default--band;
    background-color: colors.$rich-black;
  }
  &-container {
    @extend %default-container;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;

    @media screen and (min-width: breakpoints.$breakpoint-sm-min) {
        align-items: center;
        grid-auto-rows: 1fr;
        grid-gap: 30px;
        grid-template-columns: 1fr 3fr 5fr 1fr;
    }
  }
  &-logo {
    img {
      @extend %logo-link-dark;
      height: 34px;
      @media screen and (min-width: breakpoints.$breakpoint-sm-min) {
        height: 44px;
        min-width: 138px;
      }
    }
    &:last-child {
      @media screen and (max-width: breakpoints.$breakpoint-xs-max) {
        display: flex;
        justify-content: flex-end;
      }
      img {
        height: 35px;
        min-width: 74px;
      }
    }
  }
  &-copyright {
    @extend %footer-text;
    margin-bottom: 0;
  }
  &-links {
    > *:not(:last-child) {
      border-right: 1px solid colors.$stone;
    }
  }
  &-link {
    padding: 0 5px;
    &-anchor {
      @extend %footer-link;
    }
  }
}
