// Base Font Size
$base-font-px: 18;

// Base Font Family
$base-font-family: "RedHatText", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;
$base-font-family--heading: "RedHatDisplay", "Overpass", Overpass, Helvetica, helvetica, arial, sans-serif;

// Margin Padding
$band-padding: 60px;
$box-padding: 30px;
$mobile-edge: 9px;
