<div class="card--component" ng-show="$ctrl.feature.name" ng-attr-data-background="{{ $ctrl.background ? $ctrl.background : 'white' }}">
  <div class="card-header" ng-show="$ctrl.feature.logo">
      <a href="{{ $ctrl.feature.github }}"><img class="card-header-img" ng-src="{{ $ctrl.logos[ $ctrl.feature.logo ] }}"></a>
  </div>
  <div class="card-body" data-align="center">
      <h3 class="card-body-headline"><a href="{{ $ctrl.feature.github }}">{{ $ctrl.feature.name }}</a></h3>
      <p class="card-body-copy">{{ $ctrl.feature.description }}</p>
  </div>
  <div class="card-footer" ng-attr-data-layout="{{ $ctrl.feature.website && $ctrl.feature.github ? '2-up' : 'center' }}" ng-show="$ctrl.feature.website || $ctrl.feature.github">
      <div class="card-footer-content" data-align="right" ng-show="$ctrl.feature.website">
        <a class="card-footer-link" href="{{ $ctrl.feature.website }}">
          <i class="card-footer-icon fa fa-fw fa-globe"></i>
          Website
        </a>
      </div>
      <div class="card-footer-content" data-align="left" ng-show="$ctrl.feature.github">
        <a class="card-footer-link" href="{{ $ctrl.feature.github }}">
          <i class="card-footer-icon fab fa-github"></i>
          Repo
        </a>
      </div>
  </div>
</div>
