<!doctype html>
<html lang="en">
<head>
    {% set cdn_base_url = "https://www.redhatstatic.com/dssf-001/v2/" %}
    {% if config.extra.env == "dev" %}
        {% set cdn_base_url = "https://cdn.jsdelivr.net/npm/" %}
    {% endif %}
    
    {% include "partials/_head.html" %}
</head>
<body>
<header id="top">
    <rh-skip-link>
      <a href="#projects">Skip to main content</a>
    </rh-skip-link>
    {% include "partials/_nav.html" %}
</header>
<div id="wrap">
    {% include "partials/_hero.html" %}

    <section id="featured" aria-labelledby="h-featured">
        <div class="container">
            <h2 id="h-featured" class="visually-hidden">Featured projects</h2>
            <div class="grid sm-two-columns md-three-columns">
                {% set featured = load_data(path="data/featured.json") %}
                {% for feature in featured %}
                <rh-card>
                    <a href="{{ feature.github }}" slot="header">
                        <rht-picture>
                            <img class="img-{{ feature.logo }} img-on-light" src="img/new-logo-{{ feature.logo }}.png" alt="{{ feature.name }}">
                            <img class="img-{{ feature.logo }} img-on-dark" src="img/new-logo-{{ feature.logo }}-on-dark.png" alt="{{ feature.name }}">
                        </rht-picture>
                    </a>

                    <p>{{feature.description}}</p>

                    {% if feature.website or feature.github or feature.twitter %}
                    <ul class="card-footer" slot="footer">
                        {% if feature.website %}
                        <li>
                            <a href="{{ feature.website }}" aria-label="{{ feature.name }} website">
                                <rh-icon set="standard" icon="globe-abstract"></rh-icon>
                                Website
                            </a>
                        </li>
                        {% endif %}
                        {% if feature.twitter %}
                             <li>
                                <a href="{{ feature.twitter }}" aria-label="{{ feature.name }} x account">
                                    <rh-icon set="social" icon="x" aria-label="X"></rh-icon>
                                    Account
                                </a>
                            </li>
                        {% endif %}

                        {% if feature.github %}
                            <li>
                            <a href="{{ feature.github }}" aria-label="{{ feature.name }} GitHub repo">
                            <rh-icon set="social" icon="github" aria-label="GitHub"></rh-icon>
                          Repo
                            </a>
                            </li>
                        {% endif %} 
                    </ul>
                    {% endif %}
                </rh-card>
                {% endfor %}
            </div>
        </div>
    </section>

    <main id="projects">
        <div class="container">
            <h2>All projects</h2>

            {% include "partials/_table-filters.html" %}

            <a href="#contribute" class="visually-hidden focusable">Skip past table</a>

            {% include "partials/_projects-table.html" %}

            <div id="no-results" hidden>
                <p>There appear to be no results for your search.</p>
                <rh-button id="clear-filters" variant="secondary" type="reset">Clear filters</rh-button>
            </div>

        </div>
    </main>

    <section id="contribute" aria-labelledby="h-contributing">
        <div class="container">
            <h2 id="h-contributing" class="visually-hidden">Contributing</h2>
            <div class="grid sm-two-columns">
                {% set end_content = load_data(path="data/content.json") %}
                {% for elem in end_content %}
                {% if elem.heading or elem.copy %}
                <rh-card>
                    <h3 class="header">{{ elem.heading }}</h3>
                    <p>{{ elem.copy }}</p>
                    {% if elem.copy2 %}
                    <p>{{ elem.copy2 }}</p>
                    {% endif %}
                    {% if elem.cta %}
                    <rh-cta slot="footer">
                        <a href="{{ elem.cta.href }}" title="{{ elem.cta.title }}">{{ elem.cta.text }}</a>
                    </rh-cta>
                    {% endif %}
                </rh-card>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>

    <rh-back-to-top href="#top">Back to top</rh-back-to-top>
</div>

{% include "partials/_footer.html" %}

<script src="/js/page.js"></script>
<script src="/js/table-search.js"></script>
<script src="/js/rht-picture.js"></script>

</body>
</html>
