<div class="table--component">

  <div class="table-filters">
    <div class="table-search">
      <input class="table-search-input"
              type="text"
              placeholder="Search by project name..."
              ng-model="searchInputValue"
              ng-change="searchTable()">
      <button class="table-search-button"
        ng-submit="searchTable()">Search</button>
    </div>
    <div class="table-dropdown"
      ng-show="{{ categories.length > 0 }}">
      <label for="category" class="table-dropdown-label">Categories</label>
      <select class="table-dropdown-select"
        name="category"
        ng-model="searchCategory">
        <option selected="selected"></option>
        <option value="{{ category }}"
          ng-repeat="category in categories">
          {{ category }}
        </option>
      </select>
    </div>
  </div>

  <table class="table-main">
    <thead class="table-header">
      <tr>
        <th>Project name</th>
        <th>Project website</th>
        <th>Project repository</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row"
        ng-repeat="project in projects | orderBy:'+projectName' | filter:{category:searchCategory} | filter:{name:searchQuery}:startsWith">
        <td>{{ project.projectName }}</td>
        <td><a href="{{ project.projectWebsite }}">{{ project.projectWebsite }}</a></td>
        <td><a href="{{ project.projectRepository }}">{{ project.projectRepository }}</a></td>
        <td>{{ project.category }}</td>
      </tr>
    </tbody>
  </table>
</div>
