h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

@import "fonts/fonts";

@import "variables/base";
@import "variables/colors";
@import "variables/breakpoints";

@import "mixins/global";

@import "extends/copy";
@import "extends/block";
