@use "sass:meta";
h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

@include meta.load-css("fonts/fonts");

@include meta.load-css("variables/base");
@include meta.load-css("variables/colors");
@include meta.load-css("variables/breakpoints");

@include meta.load-css("mixins/global");

@include meta.load-css("extends/copy");
@include meta.load-css("extends/block");
